/* Cuerpo de la seccion main */

body {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    box-sizing: border-box;
    text-align: middle;    
}

.fixed-header {
    background-color: white;
    width: 100%;
    text-emphasis: auto;
    
}

.fixed-header>* {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: middle;
    
}

.header {
    background-color: white;
    display: inline-block;
    position: fixed;
    align-items: center;
    top: 0px;
    width: 100%; 
    z-index: 999;
}

.header>* {
    text-align: center;
    display: inline-block;
    line-height: 5px;
    vertical-align: middle;
    height: 50px;
}

.logo {
    width: 15px;
    margin-top: 10px;
}

.navbar {
    width: 70%;
    color: #025157;
    margin-top:15px;
}

.action {
    width: 15%;
    font-size: 14px;
    text-align: center;    
}

.menu>* {
    text-align: center;
    margin: 0px 15px;
    color: #025157;
    display: inline-block;
    margin-block-start: 0px;
    
}

.action label {
    color: #67b54b;
    width: 100px;
    height: 20px;
    margin-right: 5px;
    text-align: right;
}

.action button {
    background-color: #67b54b;
    font-size: 12px;
    color: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    border-radius: 5px;
}

main {
    margin-top: 185px;
    text-align: center;
    line-height: 45px;
    display: block;
}

main h1 {
    color: #025157;
    font-style: normal;
    font-size: 40px;
}

main h2 {
    color: #626366;
    font-style: normal;
    font-size: 20px;
}


.signup-form input {
    color: #46484c;
    height: auto;
    width: 250px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.signup-form button {
    color: #fff;
    background-color: #0f4447;
    height: auto;
    width: 150px;    
    border-radius: 5px;
}


.main p {
    color: #626366;
}

.banner img {
    width: auto;
    vertical-align: middle;
    border-style: none;
    text-align: center;
    align-content: center;
    display: inline-block;
}

.intro img {
    width: 70%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}


/*Sesion promo*/

.promo {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    justify-content: center;
    margin-top: 100px;
    max-width: 80%;
    align-items: center;
    background-color: white;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

.publish_blog {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    width: 50%;
}

.publish_blog h2 {
    color: #025157;
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    justify-content: left;
    align-items: left;
}

.publish_blog>p {
    margin-top: 35px;
    line-height: 1.5;
    font-size: 14px;
    color: black;
    justify-content: left;
    align-items: left;
}

.publish_blog .signup {
    color: #4f5657;
    line-height: 2.5;
    font-size: 14px;
    padding: 5px;
    justify-content: left;
    align-items: left;
}

.publish_blog .signup .email {
    color: #626366;
    background-color: white;
    width: 200px;
    height: 35px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: dashed;
    border-radius: 5px;
 
}

.publish_blog .signup button {
    color: white;
    background-color: #0f4447;
    width: 100px;
    height: 35px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: none;
    border-radius: 5px;
 
}

.features {
    background-color: #025157;
    width: 100%;
    margin-top: 100px;
    padding: 5% 10%;
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.feature-card {
    background-color: #fff;
    gap: 20px 2px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    justify-items: center;
   
}

.feature-content {
    font-size: 14px;
    padding: 10px 10px 10px;
    line-height: 30px;
}

.feature-content figure img {
    width: 30px;
}

.feature-content h3 {
    font-size: 1.5em;
    color: #343434;
    font-weight: 400;
}

.feature-content p {
    font-size: 1em;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-content a {
    font-size: 1em;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-image figure img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.feature-image figure,
.feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}




/*Inicia caso de estudio de exito*/

.success-stories {
    background-color: #a1d683;    
    padding: 5% 10%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;   
    width:100%;
    height: auto;
    
}

.stories-content {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    padding-top: 20px;
    
}

.stories-content .overview {
    background-color: #a1d683;    
}
.stories-content .brand {
    background-color:#a1d683;        
}

.stories-content .overview h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    color: #025157;
}

.stories-content .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 15px;
}

.stories-content .overview button {
    font-size: 14px;
    padding: 12 px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    background-color: #025157;
    color: white;
    border: none;
    width: 200px;
}

.stories-content .brand img {
    background-color: #a1d683;
    width: 40%;   
    margin-top:20px;    
}

.success-stories .stories-content {
    background-color: #a1d683;
    flex-wrap: nowrap;        
    display: flex;
    flex-direction: column;
}
/* Inicia carrusel*/

.success-carousel{    
    height: auto;
    max-width: 350px;    
    display: inline-flex;
    flex-direction: column;    
    flex-wrap: nowrap;
    border-radius: 5px;    
    justify-content: center;
    align-items: left;
    padding-top: 5px;
    z-index:1;
}


.carousel-inner {
    margin-top: 10px;
    padding-top: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    border-radius: 5px;    
}

.carousel-control {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

} 

.carousel-indicators {
    position: initial;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.carousel-inner .carousel-item
{
    background-color: white;
    height: 650px; 

}

.cardmedia  {
    height: 250px;
    position: absolute;
    font-size: 12px;
}


.cardmedia .profile {
    background-color: green;
    display: block;
    justify-content: center; 
}
.cardmedia .profile img {  
    border: 0px;    
    max-width: 50%;           
}

.card-body
{
    font-size: 14px;
    height: 350px;
}

.card-body h4 {    
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 10px;   
}

.card-body h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 12px;
    
}

.card-footer{
    background-color: white;    
    height: 100px;
    border: none;
}

.card-footer button {    
    margin-left: 15%;
    margin-right: 15%;    
    height: 50px;
    width: 70%;
    background-color: #0f4447;
    color: white;    
    font-size: 12px;
}

.carousel-item .card-media .company {
    display: block;
    background-color: #f9da73;
    height: 70px;
    width: 70px;
    border-radius: 50%;          
    position: absolute;    
    top: 150px;    
    margin-left: 150px;
    align-items: center;
    
}

/* inicia parte match work */

.match-work {
    margin-top: 30px;
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    
}
.match-work header {
  
  display:inline;
  align-items: center;
  vertical-align: center;
  }

  .match-work header h2 {
      color: #0f4447;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      color: #025157;
      font-family: "Alegreya", serif;
      margin-bottom: 8px;
  }

.match-work header button {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px 12px 6px 12px;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;
    background-color: #025157;
    color: #fff;
    border: none;
    padding: 6px 20px;
   
}

.match-work .steps  {
    margin-top: 30px;
    background-color: white;
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    text-align: left;     
    grid-template-columns: repeat(4,1fr);
    justify-items:end;
    column-gap: 5px;
    border-style: none;
    justify-content: space-around;
}

.steps .card-step {
    width: 80%;
    height: auto;
    background-color: #fff;
    border: 1px solid;
    border-color: #aaa7a7;
    border-radius: 5px;
    position: relative;
    place-self: center;
}

.card-step-image {
    display: block;
}
.card-step-image .card-step-bg{
    width: 80%;
    height: 300px;
}
.card-step-image .card-step-icon{
    top: 25px;
    left: 25px;
    width: 21px;
    position: absolute;
}

.card-step-body {
    display: block;
    background-color: white;
    margin-left: 20px;
    
}
.card-step-body h3 {
    font-size: 32px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
}

.card-step-body p {
    font-size: 15px;
    line-height: 1.5;
    color: blue;
    font-weight: 400;
    background-color: white;
    text-align: center;
    
}
.card-step-body a{
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    margin-bottom: 16px;
    background-color: white;
    text-align: right;
    

}

.blog .row {
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto;    
    background-color: #fff;
    display: none;
}


.blog .row .col{
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
}

.blog .row .col h2 {
    
    background-color: white;    
}


.blog .row .col .process-list {
    background-color: white;
}


.blog .row .col .process-list .process {
    background-color: White;
    margin-left: 50px;
}

.blog .row .col button {
    display: block;
    background-color: #025157;
    color: white;
    border-radius: 5px;
    border-style: none;   
}
.blog .row .col .process-list .process .process-icon {
    width: 60px;
    height: 60px;
    color: #6abf4b;
    text-align: center;
    display: block;
    position: absolute;
    left: 0px;
}
.card-body .process-icon {
    color: #6abf4b;
    text-align: center;
    display: block;
    position: absolute;
    left: 10px;
}
.card .process-description {
    margin-left: 20px;
}

.process .process-icon img {
    display: inline-block;    
    width: 80%;
    
} 

.process .process-description{
    margin-left: 40px;
    left: 50px;
}
.process .process-decription h3{
    color: #025157;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 500;
}

.row .card {
    display: flexbox;
    flex-direction: column;
    min-width: 0;
    background-color: white;
    background-clip: border-box;
    border: 1px solid;
    border-color: rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 650px;
}

.col .row .card-img-top {
    border-top-left-radius: calc(.25em-1px);
    flex-shrink: 0;
    width: 100%;
    
}
.card {
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; 
}

.card .card-body .author {
    display: flex;
    flex: row;
    flex-wrap: nowrap;
}
.card .card-body .author img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    
}



@media(max-width: 675px) {
    .navbar, .action {
        display: none;        
    }
    .header {
        margin: 20px 20px 0px;
    }
    .navbar {
        text-align: left;
    } 
    .main {
        margin: 40px 10px 0px;
        text-align: center;
    }
    .main > h1 {
        font-size: 40px
    }
    .main img {
        width:100%;
    }
    .promo {
        flex-direction: column;
        width: 90%;
    }
    .publish h1 {
        font-size: 40px;
    }
    .publish > p {
        font-size: 16px;
        color: #343434;
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: justify;
    }
    .features {
        grid-template-columns: 1fr;
        padding: 5% 5px;
    }
    .feature-card .feature-image{
        display: none;  
    }
    .features .feature-card {
        padding: 20px;
    }
    .features .feature-card .feature-content img {
        width: 80px;
    }
    .features .feature-card .feature-content {
        width: 90%;
    }
    .features .feature-card .feature-content h3 {
        font-family: "Open Sans", sans-serif;
    }
}