$color-fondo-principal: #025157;
$color-blanco: #F0f1f4;
$tamano-titulo-principal: 28;
$altura-seccion: 650px;
$size-menu-lista: 22px;
$color-lista: #2093;

/** colores */
$dark-green-title: #025157;
$dark-green-text: #025157;
$white: #ffffff;
$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;

/** fuentes */
$font-title: "Alegreya", serif;

/** placeholders */
%base-title {
    font-family: $font-title;
    color: $dark-green-title;
  }


%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}